@model PetCare_CasoEstudio2.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Restablecer contraseña";
}

<main aria-labelledby="title">
    <h2 id="title" class="mb-4">@ViewBag.Title</h2>

    @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4 class="mb-3">Ingrese su nueva contraseña</h4>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Code)

        <div class="mb-3 row">
            @Html.LabelFor(m => m.Email, htmlAttributes: new { @class = "col-md-2 col-form-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="mb-3 row">
            @Html.LabelFor(m => m.Password, htmlAttributes: new { @class = "col-md-2 col-form-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="mb-4 row">
            @Html.LabelFor(m => m.ConfirmPassword, htmlAttributes: new { @class = "col-md-2 col-form-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">
            <div class="offset-md-2 col-md-10">
                <input type="submit" class="btn btn-success" value="Restablecer contraseña" />
                @Html.ActionLink("Cancelar", "Login", "Account", null, new { @class = "btn btn-secondary ms-2" })
            </div>
        </div>
    }
</main>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
