@model PetCare_CasoEstudio2.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Cambiar Contraseña";
}

<main aria-labelledby="title">
    <h2 id="title" class="mb-4">@ViewBag.Title</h2>

    @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4 class="mb-3">Formulario para cambiar su contraseña</h4>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })

        <div class="mb-3 row">
            @Html.LabelFor(m => m.OldPassword, htmlAttributes: new { @class = "col-md-2 col-form-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="mb-3 row">
            @Html.LabelFor(m => m.NewPassword, htmlAttributes: new { @class = "col-md-2 col-form-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="mb-4 row">
            @Html.LabelFor(m => m.ConfirmPassword, htmlAttributes: new { @class = "col-md-2 col-form-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">
            <div class="offset-md-2 col-md-10">
                <input type="submit" value="Cambiar contraseña" class="btn btn-success" />
                @Html.ActionLink("Cancelar", "Index", "Manage", null, new { @class = "btn btn-secondary ms-2" })
            </div>
        </div>
    }
</main>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
